main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: fit-content;
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#a1 {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-right: 20px;
}
#a2 {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 40px;
}
h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding-bottom: 10%;
}
