.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: fit-content;
}
#box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  border: 2px solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px;
}
a {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.flash-message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  letter-spacing: 5px;
  text-shadow: slategray;
  font-size: 35px;
}
